* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.js-alert {
  background-color: red;
  width: 500px;
  height: 70px;
  font-weight: 10px;
  font-size: 30px;
  margin-left: 300px;
}
.timer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
}
.field{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 400;
}
.value{
  font-size: 50px;
  font-weight: 600;
  align-self: center;
}
.label{
 text-transform: uppercase;;
}